<!-- app/views/stocks/mystocks.html.erb -->
<h1>My Stocks Page</h1>

<p>Stock New Output:</p>
<pre><%= @output[:stock_new] %></pre>

<p>Stock Quote Output:</p>
<pre><%= @output[:stock_quote] %></pre>
